name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Run tests with coverage and generate Allure report
      run: |
        pytest --cov=src --cov-report=xml --cov-report=term --alluredir=allure-results
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-xml
        path: coverage.xml
    - name: Upload Allure results
      uses: actions/upload-artifact@v4
      with:
        name: allure-results
        path: allure-results
